dm-haiku
pillow
numpy
dm-control==0.0.364896371
tensorflow-datasets==4.4.0
dm-reverb==0.7.0
tensorflow==2.8.0
rlax
tensorflow_probability==0.15.0
gym
gym[atari]
dm-sonnet
dm-tree
dm-launchpad==0.5.0
trfl
keras==2.8.0
atari-py
optax
tensorflow_datasets
chex
flax
jaxlib
absl-py
typing-extensions
jax
dm-env
bsuite
tensorflow-estimator==2.8.0
